{% extends "index.html" %}
{% load static %}

{% block content %}
      
<form action="{% url 'add_project' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label >Project name</label>
        <input type="text" name="projectname" class="form-control" placeholder="Enter project name" required >
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea name="description"  class="form-control" placeholder="enter description" required></textarea>
    </div>
    <div class="form-group">
        <label>Project type:</label>
        <select name="type" class="form-control">
            <option value="feature">feature</option>
            <option value="bug">bug</option>
        </select>
    </div>
    <button class="form-check-input" type="submit" style="background-color:	#32CD32" >Add</button>
</form>






{% endblock %}