{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bug Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script href='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <a href="{% url 'index' %}"  class="btn btn-primary">Home</a>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <div class="nav navbar-nav" style="margin-left: 1100px;color:aliceblue">
        {% if request.session.username %}
        <div>Logged in as <a href="{% url 'issue_by_user' user.id %}"> {{request.session.username}}</a></div>
        <a href="{% url 'logout' %}"  class="btn btn-primary">Logout</a>
        <a href="{% url 'add_project' %}"  class="btn btn-primary">Add a project</a>
        <a href="{% url 'add_bug' %}"  class="btn btn-primary">Reeport a bug</a>
        <a href="{% url 'all_projects' %}"  class="btn btn-primary">All projrcts</a>
        {% endif %}
        {% if not request.session.username %}
        <a href="{% url 'login' %}" style="margin-left: 10px;" class="btn btn-primary ml-2">Login</a>
        <a ng-click="signUp()" style="margin-left: 20px;" class="btn btn-primary ml-2">Sign up</a>
        {% endif %}

      </div>
      
    </ul>
  </div>
</nav>
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb" style="background-color: black;">
    <h4 style="color:blanchedalmond;font-family:georgia,garamond,serif;font-size:16px;font-style:italic;" class="text-center">Bug tracker</h4>
    </ol>
</nav>

{% if e_msg %}
    <div class="alert alert-danger text-center">{{e_msg}}</div>
{% endif %}
{% block content %}
{% endblock %}
<div class="container">
    <div id="signUpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 id="mdl_ttl" class="modal-title">Signup here</h4>
            </div>
            <div class="modal-body">
                <form>
                  {% csrf_token %}
                  {{form.as_p }}
                  <button class="form-check-input" type="button" style="background-color: 	#32CD32" id="signup_btn" ng-click="submitData()" >Register</button>
                </form>
            </div>
            <div class="modal-footer">
              <div id='msg' class="alert alert-danger text-center"></div>
              <button type="submit" style="background-color: 	#FF9999" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>

</body>
</html>

